# Python cache 
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints 
.ipynb_checkpoints/

# Data files 
data/
*.csv

#  Model binaries 
*.joblib


# OS metadata 
.DS_Store
Thumbs.db
desktop.ini

# Virtual environments 
venv/
env/
ENV/
.venv/

# IDE / editor files 
.vscode/
.idea/
*.swp
*.swo

# Logs 
*.log
logs/

# Temporary / download files 
tmp/
*.zip
*.tar.gz
glove*/
